.LoginPage {
    width: 80%;
    margin: auto;
    background-color: rgb(240, 245, 245);
    height: 664px;
    width: 1424px;
    margin-top: -112px;
    margin-bottom: -130px;
}

.LoginTitle {
    margin: 7rem 5rem 3rem 5rem;
}

.FormulariosLogin {
    display: flex;
}