.ClubPage {
    display:flex;
    width: 1390px;
    padding-right: 30px;
}
.container {
    background-color: white;
    display:inline-block;
    width: 400px;
    height: 825px;
    margin-left: 100px;
    margin-top: 30px;
    padding: 30px;
}