.CarruselComponent {
    width: 96%;
    margin-top: 6rem;
    margin-left: 0px;
    display: flex;
    text-align: center;
    padding-top: 4rem;
    padding-left: 2px;
}
.history {
    width: 2000px;
    
}